.KanbanContainer{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    height:100%;
    width:100%;
    background:url("imgg.png");
    background-size:cover;
    padding: 5px 10px;
}

.KanbanCardContainer{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    gap: 5px;
    width : 300px;
}
.KanbanCardHeading:hover {
    background: linear-gradient(to right, #e1e5ea, #33333333); 
}
